.idea/
node_modules/
dist/*
**.DS_STORE
node_modules/
dist/*
!*/.keep
scratch/
!.keep
.DEPLOYMENT.md
k8s/*.sh
k8s/*.md
argocd
scripts/*argocd*.sh
public/files/*-template.pdf
*.bkup
project-info.md
DESIGN_UPDATES_MEMORY.md
markdown-files
