.idea/
node_modules/
dist/*
**.DS_STORE
node_modules/
dist/*
!*/.keep
scratch/
!.keep
.DEPLOYMENT.md
k8s/*.sh
k8s/*.md
argocd
scripts/*argocd*.sh
public/files/*-template.pdf
*.bkup
project-info.md
DESIGN_UPDATES_MEMORY.md
markdown-files
.env
cluster-1-28-backups
k8s-1.28-manifests
how_to_deploy.md
k8s-1.35-manifests/nginx-gateway__server-tls.yaml
k8s-1.35-manifests/nginx-gateway__agent-tls.yaml
docker-bkup
public/images/digital-toolkit.jpeg
public/images/iac-sandbox.svg
public/images/purp-sandbox.jpg
public/images/solar8bit.jpeg
