version: '3.7'

services:
  dev:
    container_name: Andre-Webapp-Dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 127.0.0.1:3333:5173
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
